.wrapper{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.main-panel{
    display: table-cell;
    vertical-align: top;

    >.content{
        height: calc(100vh - 72px);
        padding-bottom: 20px;
    }
}

