@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

%font-default{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    @extend %font-default;

   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased;

}

p{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}