<template>
    <div class="wrapper">
        <aside>
            <side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks"></side-bar>
        </aside>
        
        <div class="main-panel">
            <!-- <top-navbar></top-navbar> -->
            <dashboard-content @click.native="toggleSidebar"></dashboard-content>
        </div>
    </div>
</template>

<script scoped src="./MainView.js"></script>
