<template>
    <div>
        <!-- <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
            <h3 class="w3-bar-item">Menu</h3>
            <a class="btn-rotate" v-show="korisnik == null" @click="register">
                    <i class="ti-power-off"></i>
                    <p>Registracija</p>
            </a>  
            <a class="btn-rotate" v-show="korisnik == null" @click="signOut">
                                            <i class="ti-power-off"></i>
                                            <p>Logovanje</p>
             </a>

            <a class="btn-rotate" v-show="korisnik != null">
                                            <i class="ti-power-off"></i>
                                            <p>Zadaci</p>
            </a>
             <a class="btn-rotate" v-show="korisnik != null">
                                            <i class="ti-power-off"></i>
                                            <p>Aukcija</p>
            </a>
            <a class="btn-rotate" v-show="korisnik != null" @click="signOut">
                                            <i class="ti-power-off"></i>
                                            <p>Odjava</p>
            </a>
        </div> -->

        <!-- // <nav class="navbar navbar-default">
        //     <div class="container-fluid">
        //         <div class="navbar-right-menu">
        //             <ul class="nav navbar-nav navbar-left">
        //                 <li>
        //                     <a class="btn-rotate" v-show="korisnik == null" @click="register">
        //                         <i class="ti-power-off"></i>
        //                         <p>Registracija</p>
        //                     </a>
        //                 </li>
        //                 <li>
        //                     <a class="btn-rotate" v-show="korisnik == null" @click="signOut">
        //                         <i class="ti-power-off"></i>
        //                         <p>Logovanje</p>
        //                     </a>
        //                 </li>
        //                 <li>
        //                     <a class="btn-rotate" v-show="korisnik != null">
        //                         <i class="ti-power-off"></i>
        //                         <p>Zadaci</p>
        //                     </a>
        //                 </li>
        //                 <li>
        //                     <a class="btn-rotate" v-show="korisnik != null">
        //                         <i class="ti-power-off"></i>
        //                         <p>Aukcija</p>
        //                     </a>
        //                 </li>

        //                 <li>
        //                     <a class="btn-rotate" v-show="korisnik != null" @click="signOut">
        //                         <i class="ti-power-off"></i>
        //                         <p>Odjava</p>
        //                     </a>
        //                 </li>
        //             </ul>
        //         </div>
        //     </div>
        // </nav> -->

        <!-- <change-password-modal :show="changePasswordModalVisible"></change-password-modal> -->
    </div>
</template>

<script scoped src="./TopNavbar.js"></script>
