<template>
    <div class="w3-card-4" style="margin: auto; width: 40%; padding: 10px;">
        <div class="w3-container w3-teal">
            <h2>Login</h2>
        </div>

        <br/>
        <form class="w3-container">
            <label class="w3-text-teal">Username</label>
            <div class="w3-input w3-border w3-light-grey">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="email" placeholder="Email address" v-model="model.email"
                       class="form-control border-input input-small-padding-left input-no-focus-border" name="email"
                       v-validate="'required'">
            </div>
            <div class="validation-wrapper" v-show="errors.has('email')">
                <i class="icon"></i>
                <div>{{ errors.first('email') }}</div>
            </div>

            <br/>
            <label class="w3-text-teal">Password</label>
            <div class="w3-input w3-border w3-light-grey">
                <div class="input-group-addon"><i class="ti-key"></i></div>
                <input type="password" placeholder="Password" v-model="model.password"
                       class="form-control border-input input-small-padding-left input-no-focus-border" name="password" v-on:keyup="keymonitor"
                       v-validate="'required'">
            </div>
            <div class="validation-wrapper" v-show="errors.has('password')">
                <i class="icon"></i>
                <div>{{ errors.first('password') }}</div>
            </div>

            <br/>
            <button class="w3-btn w3-teal" @click="login" :disabled="!model.email || !model.password || model.password.length < 6 || model.password.length > 20">Login</button>

        </form>
    </div>
</template>

<script src="./Login.js" scoped></script>
