aside{
    width: 230px;
    display: table-cell;
    vertical-align: top;

    background-color: $color-theme-dark;

    .sidebar-wrapper{
        padding-top: 60px;

        ul{
            >li{
                a{
                    font-size: 16px;
                    color: #fff;
                    text-transform: uppercase;

                    >i{
                        font-size: 20px;
                        margin-right: 6px;
                    }

                    >i,
                    >p{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}