.modal-mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;

    &.modal--small{
        >div.modal-container{
            width: 400px;
        }
    }

    &.modal--medium{
        >div.modal-container{
            width: 560px;
        }
    }

    &.modal--large{
        >div.modal-container{
            width: 660px;
        }
    }

    &.modal-body-max-height{
        .modal-body{
            max-height: calc(100vh - 280px);
            overflow-y: auto;
        }
    }
}

.modal-container{
    margin: 40px auto 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
}

.modal-header{
    position: relative;

    h3{
        margin: 0;
        color: #42b983;
        font-size: 18px;
    }

    i{
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.modal-body{
    margin: 10px 0;

    label{
        font-weight: 500 !important;
    }

    &.no-padding{
        padding: 0;
    }
}

.text-right{
    text-align: right;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter{
  opacity: 0;
}

.modal-leave-active{
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
