.loader-wrapper{
    position: fixed;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
    cursor: not-allowed;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.loader {
    position: absolute;
    left: calc(260px + 20px);
    top: 26px;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 4px solid rgba(45,216,105, 0.3);
    border-right: 4px solid rgba(45,216,105, 0.3);
    border-bottom: 4px solid rgba(45,216,105, 0.3);
    border-left: 4px solid #41B883;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

