<template>
    <div>
        <div class="w3-card-4" style="margin: auto; width: 40%; padding: 10px;">

            <div v-show="activeTasks.length === 0">
                <h2>No active tasks :(</h2>
            </div>

            <div v-show="activeTasks.length !== 0">
                <h4>Tasks</h4>
                <ul>
                    <li v-for="task in activeTasks">
                        <ul v-on:click="getFields(task)"> {{task.name}}</ul>
                    </li>
                </ul>

                <div class="w3-container w3-teal">
                    <h2>{{selectedTask.name}}</h2>
                </div>
                <form class="w3-container">
                    <div v-for="field in tempModel">
                        <br/>

                        <label class="w3-text-teal">{{field.label}}</label>
                        <div v-if="field.type === 'text' || field.type==='date'">
                            <input :type="field.type" v-bind:readonly="!field.writable" v-model="field.value"
                                   class="form-control"
                                   :placeholder="field.label">
                        </div>

                        <div v-if="field.type === 'long'">
                            <input type="number" v-model="field.value" v-bind:readonly="!field.writable"
                                   class="form-control"
                                   :placeholder="field.label">
                        </div>

                        <div v-if="field.type === 'enum'">
                            <select v-model="field.value">
                                <option v-for="option in field.values" v-bind:value="option.value">
                                    {{ option.value }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <br/>
                    <button type="submit" v-on:click="submit" class="w3-btn w3-teal">Submit</button>
                </form>
            </div>
        </div>

    </div>
</template>

<script src="./AuctionForm.js" scoped></script>
