<template>
    <div class="w3-card-4" style="margin: auto; width: 40%; padding: 10px;">



        <h4>Tasks</h4>
        <ul>
            <li v-for="task in activeTasks">
                <ul v-on:click="getFields(task)"> {{task.name}}</ul>
            </li>
        </ul>

        <div class="w3-container w3-teal">
            <h2>{{selectedTask.name}}</h2>
        </div>

        <form class="w3-container">

            <div v-show="selectedTask.name ==='Choose category and input max distance' ">
                <br/>
                <select v-model="selectedCategory">
                    <option v-for="option in listOfCategory" v-bind:value="option.ime">
                        {{ option.ime }}
                    </option>
                </select>
                <button type="submit" v-on:click="addCategory" class="w3-btn w3-teal">Add category</button>
            </div>

            <div v-for="field in tempModel">
                <br/>
                <label class="w3-text-teal">{{field.label}}</label>
                <div v-if="field.type === 'text' || field.type==='date'">
                    <input :type="field.type"
                           v-bind:readonly="!field.writable || activeTasks[0].name ==='Choose category and input max distance'"
                           v-model="field.value" class="form-control"
                           :placeholder="field.label">
                </div>

                <div v-if="field.type === 'long'">
                    <input type="number" v-model="field.value" class="form-control" :placeholder="field.label">
                </div>

                <div v-if="field.type === 'enum'">
                    <select v-model="field.value">
                        <option v-for="option in field.values" v-bind:value="option.value">
                            {{ option.value }}
                        </option>
                    </select>
                </div>
            </div>

            <br/>
            <button type="submit" v-on:click="submit" class="w3-btn w3-teal">Submit</button>
        </form>
    </div>

</template>

<script src="./RegistrationForm.js" scoped></script>






